*
{
    margin: 0;
    padding: 0;
}
body
{
   background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.first
{
    color: white;
    /* background-color: #042D89; */
    background-image: url(/images/971.jpg);
    background-size: cover;

    height:750px;
}
/* frst na */
.firstna
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap:40px;
}
.firstna ul li{
    list-style: none;
}
.firstna .reg ul
{
    display: flex;
    gap: 5px;
}
.soc
{
    display: flex;
    padding-top: 12px;
    gap: 12px;
}

/*  */
.navbar
{
    height:70px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title h2{
    font-size: 2em;
}
.cater ul li
{
    font-size: 1.2em;
    font-weight: 600;
    display: inline-block;
    margin: 20px;
    padding: 2px;
}
.cater a{
    text-decoration: none;
    color: white;
     transition: 1s;
}
a:hover
{
    color: cyan;
}
.desc
{
    margin-top: 80px;
    height: 400px;
    width: 700px;
    font-weight: 200;
    font-size: 2.5em;
    text-align: center;
    transform: translate(50%);
}
.fimg img{
    width: 150px;
    padding: 15px;
}
#search
{
    padding-left: 10px;
    border-radius: 10px;
    margin-top: 30px;
    height:50px;
    width: 350px;
}
.cards
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.card
{
height: 220px;
width: 220px;
border: 2px solid white;
padding-left: 3px;
border-radius: 8px;
overflow: hidden;
box-shadow: 0 1px 7px black;
}
.card:hover
{
    transform: translateY(-10px);
    transition: transform 1s ease;
}
.cards img
{
    padding: 46px;
}
.fsec4 h1,.fsec2 h1,.fsec3 h1{
    font-size:30px;
    margin-top: 40px;
    text-align: center;
}

/* 2 */
.cardsss
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 30px;
}
.cardss
{
height: 300px;
width: 270px;
border: 2px solid white;
border-radius: 8px;
box-shadow: 0 1px 7px black;
overflow: hidden;
}
.cardss img
{
    width: 100%;
    height: 200px;
}
.cardss img:hover{
    transform: scale(1.1);
    transition: transform 1s ease;
}
.cardss p
{
    padding: 20px;
}
/* 3 */
.cccardsss
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 30px;
}
.ccardss
{
height: 300px;
width: 270px;
border: 2px solid white;
border-radius: 8px;
box-shadow: 0 1px 7px black;
overflow: hidden;
}
.ccardss:hover{
    transform: scale(1.09);
    transition: transform 1s ease;
}
.ccardss1
{
    background-color: #042D89;
    height: 50px;
    width: 100%;
    color: white;
    padding: 20px;
}
.ccardss p
{
    font-size: 18px;
}
#readbtn
{
    height: 35px;
    width: 100px;
    margin: 20px 0 0 80px;
    color: white;
    border-radius: 4px;
    background-color:#042D89;
}
.cardss p
{
    padding: 20px;
}
.ccardss p{
    padding: 10px;
}

/* section 5 */
.fsec5
{
    height: 620px;
    margin: 40px 0 0 60px;
    display: flex;
}
.descr
{
    height: 600px;
    width: 45%;
    margin: 40px 5px 0 60px;
}
.descr h1
{
    padding: 40px;
    font-size: 40px;
}
.descr p
{
    padding: 5px 5px 5px 40px;
    font-size: 20px; 
}
.descr img{
    padding:20px 20px 20px 40px;
    height: 50px;
}
.imag
{
    height: 600px;
    margin: 40px 0 0 60px;
    width: 45%;
    overflow: hidden;
}
.imag img
{
    padding: 40px;
    height: 600px;
}
.imag img:hover
{
    /* position: relative; */
    cursor: pointer;
    /* transform: scale(1.09); */
    transform: translate(20px,20px);
    transition: transform 1s ease;
}



/* footer */
.footer
{
    background-color: #042D89;
    height: 900px;
    margin-top: 20px;
    color: white;
}
.container{
    overflow: hidden;
}
.container img
{
    margin-top: 20px;
    width: 90%;
    padding-left: 60px;
    
}
.container h1{
    margin: 40px;
    text-align: center;
}
.footer-col-1{

width: 400px;
}
.footer-col-1 p{

    padding-top: 10px;
    }
.row
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}
.footer-col-3,.footer-col-4,li
{
    padding-top: 10px;
}
.copyright
{
    margin-top: 20px;
    text-align: center;
}
.app-logo img
{
    margin: 10px;
    width: 150px;
}